@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.user-info {
  display: flex;
  flex-direction: column;
  &__name {
  }

  &__details {
    display: inline-flex;
    margin-right: 0.5rem;
  }

  &__edit {
    margin-left: 0.5rem;
  }
}
