@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.user-info {
  @include flex-column;
  align-items: center;

  &__name {
    margin-bottom: 1rem;
  }

  &__details {
    @extend .user-info__name;
  }

  &__subtitle {
    border-top: 1px solid $color-accent;
    margin-bottom: 0.5rem;
    padding-top: 0.25rem;
    width: 100%;
  }

  &__avatar {
    object-fit: cover;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    border: 1px solid $color-accent;
  }
}
