@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.user-info {
  display: flex;
  flex-direction: column;

  &__name {
    margin-bottom: 1rem;
  }

  &__details {
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin-bottom: 0.5rem;
    border-top: 1px solid $color-accent;
    padding-top: 0.25rem;
  }
}
