.map {
  height: 90vh;
  width: 100vw;

  &__zoom {
    margin: 1rem;
  }

  &__toggle {
    z-index: 9999999;
    position: absolute;
    bottom: 2rem;
    color: white;
    font-size: 3rem;
    transform: rotate(90deg);
  }
}
