@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.home {
  display: flex;
  justify-content: space-between;

  &__left {
    width: 40vw;
    z-index: 99999;
    background-color: darkgreen;
    opacity: 0.7;
  }

  &__right {
  }
}
