@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.home {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // padding: 0 2rem;

  &__left {
    margin: 0 2rem;
    position: absolute;
    width: 36vw;
    z-index: 99999;
  }

  &__right {
  }

  &__button-div {
    display: flex;
  }
  &__button {
    z-index: 9999999;
    padding: 1rem;
    color: black;
    border-radius: $border-radius;
    border: 3px solid $border-primary;
    width: 50%;
    background: $color-primary;

    &--right {
      margin-left: 0.5rem;
    }
  }
}
