@use './partials/mixins' as *;
@use './partials/variables' as *;

html,
body {
  @include margin-reset;
  font-family: "AvenirNext LT Pro";
  background: rgb(253, 190, 45);
  background: radial-gradient(
    circle,
    rgba(253, 190, 45, 1) 24%,
    rgba(0, 77, 153, 1) 81%
  );
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
