@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: $color-black;

  @include tablet {
    display: flex;
    flex-direction: row;
    text-align: center;
    background: $color-black;
  }

  &__user {
    background: $color-primary;
    padding: 2rem;

    @include tablet {
      border-right: $border-primary;
      height: 100%;
      width: 25rem;
    }
  }

  &__followed {
    width: 100%;
  }

  &__title {
    text-align: center;
    color: white;
    padding: 2rem 0 1rem 0;
  }

  &__logout {
    @include accent-button;
    margin-top: 2rem;
    width: 100%;
    transition: all 0.2s;
    color: white;

    &:hover {
      @include translateY;
    }
  }
}
