@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.profile {
  display: flex;

  &__user {
    padding: 2rem;
    background: darkgrey;
    height: 88vh;
  }

  &__followed {
    width: 100%;
  }

  &__title {
    text-align: center;
    padding: 2rem;
  }

  &__areas {
    // display: flex;
    // justify-content: space-between;
    // border: 2px solid blue;
    // width: 12rem;
    // height: 10rem;
    // margin: 2rem;
  }
}
