@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/keyframes' as *;

.area-card {
  @include link-reset;
  @include flex-justify-align(center, center);
  flex-direction: column;
  color: black;
  border: $border-secondary;
  background: $color-secondary;
  border-radius: 50px 15px 50px 15px;
  height: 12rem;
  width: 12rem;
  margin: 1rem;
  transition: $transition;

  &:hover {
    @include translateY;
  }
  &__name {
    text-align: center;
  }

  &__country {
    text-align: center;
  }
}
