@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.area-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  border: 1px solid blue;
  height: 12rem;
  width: 12rem;
  &__name {
  }

  &__country {
  }
}
