@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.signup {
  background: $color-black;
  height: 100vh;

  &__name {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: white;
  }

  &__form {
    @include flex-justify-align(center, center);
    margin-top: 1rem;
  }

  &__left {
    @include flex-column;
    // @include min-max-height(30rem);
    min-height: 31rem;
    background: $color-secondary;
    border-radius: $border-radius;
    padding: 1rem;
    margin-right: 4rem;
    min-width: 15rem;
  }

  &__right {
    @include flex-column;
    min-height: 31rem;
    background: $color-secondary;
    border-radius: $border-radius;
    padding: 1rem;
    min-width: 15rem;
  }

  &__label {
    @include flex-column;
  }

  &__radio {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
  }

  &__input {
    @include form-input;
    margin: 0.5rem 0;

    &:active {
      outline: none;
      border: $border-input-active;
      border-radius: $border-radius;
    }

    &:focus {
      outline: none;
      border: $border-input-active;
      border-radius: $border-radius;
    }

    &--about {
      height: 4rem;
    }
  }

  &__error {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color: firebrick;
    font-weight: bold;
    text-align: right;
  }

  &__submit {
    border-radius: $border-radius;
    border: $border-primary;
    background: $color-primary;
    padding: 1rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
  }
}
