@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.observation {
  @include flex-column;
  @include flex-justify-align(center, center);
  background: $color-secondary;
  border-radius: $border-radius-card;
  border: $border-secondary;
  margin-top: 1rem;
  height: 23rem;
  position: relative;

  @include tablet {
    height: unset;
  }

  &__icon {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 0.75rem 0.75rem;
    font-size: 1.5rem;
  }

  &__photo-container {
    @include flex-justify-align(center, center);
    width: 100%;
    overflow: hidden;
  }
  &__photo {
    height: 11.562rem;
    width: 100%;
    border-radius: 125px 30px 0 0;
    @include tablet {
      height: 14.75rem;
    }
  }

  &__details {
    @include flex-column;
    text-align: center;
  }

  &__name {
    font-size: 1.5rem;
    padding: 0.5rem 0;
  }

  &__latin-name {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  &__info {
    padding-bottom: 0.5rem;
  }
}
