@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.search {
  @include box-shadow;
  background: white;
  opacity: 0.9;
  padding: 1rem;
  margin: 1rem;
  margin-top: 5rem;
  &__label {
    display: flex;
  }

  &__input {
    background-color: #f6f6f6;
    box-shadow: inset 0px 1px 4px rgba(153, 153, 153, 0.25);
    border-radius: 0.5rem;
    border: 1px solid darkcyan;
    padding: 0.5rem;
    width: 85%;

    &:focus {
      outline: none;
      border: 1px solid coral;
    }

    &:active {
      outline: none;
      border: 1px solid coral;
    }
  }

  &__btn {
    background: coral;
    border: 1px solid coral;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 0.25rem;
  }

  &__icon {
    font-size: 1rem;
  }
}
