@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.search {
  box-shadow: 0 0 10px black;
  padding: 0.5rem;
  background-color: white;
  right: 48px;
  top: 128px;

  &__label {
    display: flex;
  }

  &__input {
    background: lightgray;
    border-radius: 8px;
    border: 1px solid white;
    padding: 0.5rem 0;
  }

  &__btn {
    background: coral;
    border: 1px solid coral;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 0.25rem;
  }

  &__icon {
    font-size: 1rem;
  }
}
