@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

@keyframes slidein {
  from {
    opacity: 0;
    transform: translate(100%);
  }

  to {
    opacity: 1;
    transform: translate(0%);
  }
}

@keyframes slideout {
  from {
    opacity: 1;
    transform: translate(0%);
  }

  to {
    opacity: 0;
    transform: translate(100%);
  }
}

.header {
  @include flex-justify-align(space-between, center);
  position: relative;
  background: $color-primary;
  height: 7rem;
  border-bottom: $border-primary;

  &__logo {
    height: 6rem;
    margin-left: 2rem;
  }

  &__link {
    @include link-reset;
  }

  &__drop {
    color: black;
    height: 10rem;
    margin: 5.5rem 2rem 0 0;
    top: 0;
    z-index: 402;
  }

  &__login {
    color: white;
  }
}

.dropdown {
  @include flex-column;
  align-items: flex-end;
  position: absolute;
  top: 6rem;
  right: 0;
  width: 15rem;
  padding: 1rem 0;
  background: $color-secondary;
  border: $border-secondary;
  z-index: 999999;
  transition: 1s;

  &:hover {
  }
  &--slidein {
    animation: slidein 1s ease both;
  }

  &--slideout {
    animation: slideout 1s ease forwards;
  }

  &__link {
    @include link-reset;
    background: $color-secondary;
    box-shadow: 0 0 5px 5px $color-secondary;
    border-top: $border-accent;
    text-align: right;
    width: 85%;
    color: black;
    padding: 0.5rem;
    margin: 1rem;

    &:hover {
      background-color: $color-hover;
      color: white;
    }
  }
}
