@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.header {
  @include flex-justify-align(space-between, center);
  background: darkcyan;
  height: 7rem;
  padding: 0 2rem;

  &__logo {
  }

  &__link {
    @include link-reset;
  }

  &__drop {
    color: black;
    font-size: 4rem;
  }

  &__login {
    color: white;
  }
}
