@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/keyframes';

.header {
  @include flex-justify-align(space-between, center);
  position: relative;
  background: $color-primary;
  border-bottom: $border-primary;
  height: 4rem;
  @include tablet {
    height: 6rem;
  }

  &__logo {
    height: 3.5rem;
    margin-top: 0.5rem;
    @include tablet {
      height: 6rem;
      margin-left: 2rem;
    }
  }

  &__link {
    @include link-reset;
  }

  &__drop {
    height: 5rem;
    margin: 3rem 0 0 0;
    top: 0;
    z-index: 402;
    @include tablet {
      height: 10rem;
      margin: 5.5rem 2rem 0 0;
    }
  }

  &__login {
    color: white;
  }
}

.dropdown {
  @include tablet {
    @include flex-column;
    align-items: flex-end;
    position: absolute;
    top: 6rem;
    right: 0;
    width: 15rem;
    padding: 1rem 0;
    background: $color-secondary;
    border: $border-secondary;
    z-index: 999999;
    transition: 1s;

    &--slidein {
      opacity: 1;
      transform: translateY(0%);
    }

    &--slideout {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  &__link {
    @include link-reset;
    background: $color-secondary;
    box-shadow: 0 0 5px 5px $color-secondary;
    border-top: 1px solid $color-accent;
    color: black;
    text-align: right;
    width: 85%;
    padding: 0.5rem;
    margin: 1rem;

    &:hover {
      background-color: $color-hover;
      color: white;
    }
  }
}
