@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.area {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background: $color-secondary;
  text-align: center;
  // margin: 1rem;
  // margin-top: 1.5rem;
  // padding: 1rem;

  &__name {
    background: $color-primary;
  }

  &__info {
    font-size: 1rem;
  }
}
