@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.area {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 5px coral;
  border-radius: 0.5rem;
  margin: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;

  &__info {
  }
}
