@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.login {
  @include flex-column;
  @include flex-justify-align(unset, center);
  background: $color-black;
  height: 100vh;
  @include tablet {
    height: unset;
    background: unset;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    color: white;
    padding-top: 2rem;
  }

  &__form {
    @include flex-column;
    background: $color-secondary;
    border-radius: $border-radius;
    min-width: 15rem;
    max-width: 15rem;
    margin: 1rem;
    padding: 1rem;
    @include tablet {
      min-width: unset;
      max-width: unset;
      margin: 0 1rem;
      padding: 0.5rem;
      width: 89%;
      // padding: unset;
    }

    @include tablet {
      border: 1px solid $color-accent;
    }
  }

  &__label {
    @include flex-column;
    margin: 0.5rem 0 0.25rem 0.5rem;
  }

  &__input {
    @include form-input;
    padding: 0.5rem;

    @include tablet {
      // width: 89%;
      // margin-left: 0.5rem;
    }

    &:focus {
      outline: none;
      border: $border-input-active;
    }

    &:active {
      outline: none;
      border: $border-input-active;
    }
  }

  &__submit {
    border-radius: $border-radius;
    border: $border-primary;
    background: $color-primary;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    @include tablet {
      @include button;
      padding: 0.5rem;
      margin: 1rem 0.5rem;
    }
  }

  &__signup {
    margin-top: 1rem;
  }

  &__prompt {
  }

  &__signup-link {
    @include link-reset;
    color: darkcyan;
    padding-left: 0.5rem;
  }
}
