@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.navbar {
  @include flex-justify-align(space-between, center);
  background: $color-primary;
  border-bottom: $border-primary;
  padding: 1rem;

  &__link {
    @include link-reset;
    color: $color-black;
    // animation
  }
}
