@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"),
    url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"),
    url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Medium.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Medium.woff") format("woff"),
    url("../assets/fonts/AvenirNextLTPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Heavy.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Heavy.woff") format("woff"),
    url("../assets/fonts/AvenirNextLTPro-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"),
    url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Light.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Light.woff") format("woff"),
    url("../assets/fonts/AvenirNextLTPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Thin.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Thin.woff") format("woff"),
    url("../assets/fonts/AvenirNextLTPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
