// colors
$color-primary: #d3b73e;
$color-secondary: #89a68f;
$color-accent: #8b341f;
$color-hover: #a3a47a;
$color-form-input: #f2fff6;

// borders
$border-radius: 1.25rem;

$border-primary: #997e09;
$border-secondary: #516356;

// OG
// $color-primary: #62c370;
// $color-secondary: #258ea6;
// $color-accent: #f8333c;
// $color-hover: #ffcf00;

// Second
// $color-primary: #89a68f;
// $color-secondary: #8b341f;
// $color-accent: #d3b73e;
// $color-hover: #a3a47a;
